/* ---- Base Rules ---- */
body {
    background: linear-gradient(0deg, rgb(31, 65, 187) 0%, rgba(0, 13, 60, 1) 100%);
    margin: 0;
    font-family: 'Merriweather', serif;
    color: aliceblue;
}

/* Typeography General*/
h1 {
    font-family: 'Fira Sans', sans-serif;
    font-size: 3em;
    margin: 2em 1rem;
}

@media only screen and (min-width: 35em) {
    h1 {
        font-size: 7em;
        margin: 2em 4rem 1em;
    }
}

h2 {
    border-bottom: 1px solid rgb(76, 129, 209);
    font-family: 'Oxygen', sans-serif;
    font-size: 3em;
    color: aliceblue;
}

p {
    line-height: 1.6em;
    color: aliceblue;
}


/* ---- Layout Rules ---- */
main {
    margin: 10vh 1em 10vh;
}

.main {
    min-height: 40vh;
    padding-top: 3em;
}

section {
    position: relative;
    min-height: 80vh;
}


/* ---- Module Rules ---- */

/* Navigation Styles*/
.navbar-menu ul {
    width: 100%;
    padding-left: 25px;
    margin: 10px;
    text-align: center;
    position: relative;
    display: inside;
}

.navbar-menu li {
    display: inline-block;
    margin-right: 50px;
}

/* Header Styles */
.page-header {
    background: rgba(0, 17, 54, 0.445);
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 55px;
    z-index: 5;
    transition: all 3s;
}

.page-header.active {
    background: rgba(0, 0, 0, 0.884);
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 55px;
    z-index: 99;
    transition: all 3s;
}

/* Footer Styles */
.page-footer {
    background: rgba(3, 14, 79, 0.959);
    width: 100%;
    bottom: auto;
    height: 25px;
}


/* ---- Theme Rules ---- */
/* Landing Container Styles */
.landing-container {
    padding: 1em;
    text-align: left;
}

@media only screen and (min-width: 35em){
    .landing-container {
        max-width: 50em;
        padding: 4em;
    }
}

section:nth-of-type(even) .landing-container {
    margin-right: 0;
    margin-left: auto;
    text-align: right; 
}
 


/* ---- Theme State Rules ---- */
/* Section Active Styles */
section.active-class {
    background: rgba(0, 0, 0, 0.479);
    background: linear-gradient(0deg, rgba(0, 35, 87, 0.356) 0%, rgba(10, 11, 20, 0.37) 100%);
}

section.active-class .landing-container::before {
    opacity: 1;
    animation: rotate 4s linear 10s infinite forwards;
}

section.active-class .landing-container::after {
    opacity: 1;
    animation: rotate 5s linear 0s infinite forwards reverse;
}

/* Section Active Styles Keyframe Animations */
@keyframes rotate {
	from {
		transform: rotate(0deg)
		           translate(-1em)
		           rotate(0deg);
	}
	to {
		transform: rotate(360deg)
		           translate(-1em) 
		           rotate(-360deg);
	}
}

/* Scroll Button & Scroll Behavior */
#scrollBtn {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 99;
    font-size: 20px;
    border: 5px;
    border-color: black;
    background-color: skyblue;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
}

#scrollBtn:hover {
    background-color: aliceblue;
}

#section {
    scroll-margin-top: 50px;
}